<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>approval</title>
  </head>

  <body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:insert="~{common/sidebar :: sidebar}"></div>
    <!-- 
	
	main
	
	-->
    <main class="" id="main">
      <div class="container-fluid pt-3 px-3">
        <div class="mb-4">
          <h3 class="mb-3">テキストテキスト</h3>
          <div class="d-flex overflow-x-auto ms-4">
            <div class="card me-3" style="min-width: 18rem">
              <div class="card-body">
                <h5 class="card-title">田中</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  見積書の作成
                </h6>
                <div class="row mb-1">
                  <div class="col-sm-4">
                    <small class="text-body-secondary">締め切り</small>
                  </div>
                  <div class="col-sm-7">
                    <small class="text-body-secondary">09/12 12:00</small>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-4">
                    <small class="text-body-secondary">提出日時</small>
                  </div>
                  <div class="col-sm-7">
                    <small class="text-body-secondary">09/12 23:00</small>
                  </div>
                </div>
                <div class="mb-3">
                  <h6 class="form-label text-body-secondary">comment</h6>
                  <textarea class="form-control" rows="4">
コメントコメント</textarea
                  >
                </div>
                <div class="mb-3">
                  <h6 class="form-label text-body-secondary">reply</h6>
                  <textarea class="form-control" rows="2"></textarea>
                </div>
                <div class="d-flex justify-content-evenly">
                  <button class="btn btn-outline-primary btn-lg">
                    <i class="bi bi-check-circle me-2"></i>承認
                  </button>
                  <button class="btn btn-outline-danger btn-lg">
                    <i class="bi bi-arrow-return-left me-2"></i>却下
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script th:src="@{/main.js}"></script>
  </body>
</html>
