<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>TaskManage : ログイン</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div class="container-lg min-vh-100">
		<div class="row justify-content-center align-items-center min-vh-100">
			<div class="col-5 col-md-4 col-xxl-3">
				<h2 class="text-center">ログイン</h2>
				<div th:replace="~{common/alert :: alert}"></div>
				<div class="row justify-content-center">
					<form th:action="@{/login}" method="post" th:object="${loginForm}">
						<div class="form-group">
							<div class="mb-3">
								<p>
									<label class="form-label" for="userId">userID</label>
									<input class="form-control" type="text" th:field="*{userId}">
								</p>
							</div>
							<div class="mb-3">
								<p>
									<label class="form-label" for="password">password</label>
									<input class="form-control" type="password" th:field="*{password}">
								</p>
							</div>
							<p class="text-center"><input class="btn btn-primary" type="submit" value="ログイン"></p>
						</div>
					</form>
				</div>
				<a class="d-block text-center mt-3" th:href="@{/signup}">▶ユーザー登録はこちら</a>
			</div>
		</div>
	</div>
</body>

</html>