<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>NewProject</title>
  </head>

  <body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:insert="~{common/sidebar :: sidebar}"></div>
    <!-- 
	
	main
	
	-->
    <main class="" id="main">
      <div class="container-fluid p-3">
        <div class="fs-3 my-4 text-secondary text-center">
          新規プロジェクト画面
        </div>
        <div th:replace="~{common/alert :: alert}"></div>
        <div class="d-flex justify-content-center">
          <div
            class="btn-group mb-3 text-center"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              checked
            />
            <label class="btn btn-outline-primary" for="btnradio1">新規</label>

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
            />
            <label class="btn btn-outline-success" for="btnradio2">参加</label>
          </div>
        </div>

        <div class="container-fluid" id="create-project-form">
          <form
            th:action="@{/project}"
            method="post"
            th:object="${createProjectForm}"
          >
            <div class="row mb-3">
              <label for="create-project-id" class="col-sm-2 modal-label"
                >project ID</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-project-id"
                  th:field="*{projectId}"
                  placeholder="半角英数字 + (. - _)"
                  required
                  pattern="[A-Za-z0-9.-_]+"
                  maxlength="50"
                  th:classappend="${alert?.name() == 'EXISTED_PROJECT_ID' ? 'is-invalid' : ''}"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-project-code" class="col-sm-2 modal-label"
                >project code</label
              >
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control edit-code"
                    id="create-project-code"
                    th:field="*{projectCode}"
                    placeholder="半角英数字 + (. - _)"
                    required
                    pattern="[A-Za-z0-9.-_]+"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary password-toggle"
                    data-bs-toggle="button"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <div class="form-text">更新後は確認することができません。</div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-project-name" class="col-sm-2 modal-label"
                >project name</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-project-name"
                  th:field="*{projectName}"
                  required
                  maxlength="20"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label
                for="create-project-description"
                class="col-sm-2 modal-label"
                >project description</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="create-project-description"
                  th:field="*{projectDescription}"
                  rows="3"
                  maxlength="300"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-handle" class="col-sm-2 modal-label"
                >handle</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-handle"
                  th:field="*{handle}"
                  placeholder="最大４文字"
                  required
                  maxlength="4"
                />
                <div class="form-text">
                  プロジェクト内で一意に定まる自身のハンドルネームを設定します。
                  例：田中太、田中.t、t.太郎
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-first-task" class="col-sm-2 modal-label"
                >first task</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-first-task"
                  th:field="*{firstTask}"
                  required
                  maxlength="50"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-task-description" class="col-sm-2 modal-label"
                >task description</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="create-task-description"
                  th:field="*{firstTaskDescription}"
                  rows="3"
                  maxlength="300"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="new-deadline" class="col-sm-2 modal-label"
                >締切</label
              >
              <div class="col-sm-10">
                <input
                  type="datetime-local"
                  class="form-control"
                  id="new-deadline"
                  th:field="*{deadline}"
                />
              </div>
            </div>
            <div class="d-flex justify-content-center my-5">
              <button
                type="submit"
                id="create-project-submit"
                class="btn btn-outline-primary"
                name="create"
              >
                プロジェクトを作成する
              </button>
            </div>
          </form>
        </div>

        <div class="container-fluid" id="join-project-form">
          <form
            th:action="@{/project}"
            method="post"
            th:object="${joinProjectForm}"
          >
            <div class="row mb-3">
              <label for="join-project-id" class="col-sm-2 modal-label"
                >project ID</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="join-project-id"
                  th:field="*{projectId}"
                  required
                  th:classappend="${alert?.name() == 'NOT_EXISTED_PROJECT_ID' ? 'is-invalid' : (
                    alert?.name() == 'JOIN_FAILED' ? 'is-invalid' : (
                      alert?.name() == 'EXISTED_HANDLE' ? 'is-valid' : ''
                    )
                  )}"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="join-project-code" class="col-sm-2 modal-label"
                >project code</label
              >
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control edit-code"
                    id="join-project-code"
                    th:field="*{projectCode}"
                    required
                    th:classappend="${alert?.name() == 'JOIN_FAILED' ? 'is-invalid' : (alert?.name() == 'EXISTED_HANDLE' ? 'is-valid' : '')}"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary password-toggle"
                    data-bs-toggle="button"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="join-handle" class="col-sm-2 modal-label"
                >handle</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="join-handle"
                  th:field="*{handle}"
                  placeholder="最大４文字"
                  required
                  maxlength="4"
                  th:classappend="${alert?.name() == 'EXISTED_HANDLE' ? 'is-invalid' : ''}"
                />
                <div class="form-text">
                  プロジェクト内で一意に定まる自身のハンドルネームを設定します。
                  例：田中太、田中.t、t.太郎
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center my-5">
              <button
                type="submit"
                id="join-project-submit"
                class="btn btn-outline-success"
                name="join"
              >
                プロジェクトに参加する
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <script th:src="@{/main.js}"></script>
  </body>
</html>
