<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link href="../static/style.css" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <!-- 

    navbar
    
    -->
    <nav class="navbar navbar-expand sticky-top bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <i class="bi bi-filter-left me-2 toggle-sidebar-btn navbar-brand"></i>
          <a class="navbar-brand" href="#">Project</a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">MyTask</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Approval</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Free</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <div class="vr mx-3"></div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle align-items-center"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              userId
            </a>
            <ul class="dropdown-menu">
              <li>
                <form action="#" method="post">
                  <input class="dropdown-item" type="submit" value="setting" />
                </form>
              </li>
              <li>
                <form action="#" method="post">
                  <input class="dropdown-item" type="submit" value="logout" />
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div>
      <!-- 
      modal
      -->
      <div
        class="modal modal-lg fade"
        id="modal-project"
        tabindex="-1"
        aria-labelledby="modal-projectLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <div
                class="d-flex justify-content-between align-items-center w-100"
              >
                <h1 class="modal-title fs-5" id="modal-projectLabel">
                  プロジェクト詳細
                </h1>
                <button
                  type="button"
                  class="btn me-2"
                  id="edit-trigger-project"
                  data-bs-toggle="button"
                >
                  <i class="bi bi-pencil-square text-secondary"></i>
                </button>
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="#" method="get" id="project-update">
                <div class="row mb-3">
                  <label for="edit-project-id" class="col-sm-2 modal-label"
                    >project ID</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control-plaintext"
                      id="edit-project-id"
                      name="projectId"
                      value="プロジェクトID"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="edit-name" class="col-sm-2 modal-label"
                    >name</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control-plaintext"
                      id="edit-name"
                      name="name"
                      value="プロジェクト名"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="edit-description" class="col-sm-2 modal-label"
                    >description</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      class="form-control-plaintext"
                      id="edit-description"
                      name="description"
                      rows="3"
                    >
プロジェクトの詳細説明</textarea
                    >
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 modal-label">first task</label>
                  <div class="col-sm-10">
                    <div class="progress-background">
                      <div class="progress">
                        <div
                          id="edit-progress"
                          class="progress-bar"
                          role="progressbar"
                          style="width: 75%"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                      <div
                        class="d-flex justify-content-between align-items-center content"
                      >
                        <span>
                          <input
                            type="text"
                            class="form-control-plaintext"
                            id="edit-first-task"
                            value="タスク名"
                          />
                        </span>
                        <span class="nav-heading me-2" id="edit-progress-text"
                          >75%</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 modal-label">leader</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control-plaintext"
                      id="edit-leader"
                      value="名前"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 modal-label">作成日時</label>
                  <div class="col-sm-10">
                    <input
                      type="datetime-local"
                      class="form-control-plaintext"
                      id="edit-created-at"
                      value="2024-08-21T14:30"
                      disabled
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 modal-label">更新日時</label>
                  <div class="col-sm-10">
                    <input
                      type="datetime-local"
                      class="form-control-plaintext"
                      id="edit-updated-at"
                      value="2024-08-21T14:30"
                      disabled
                    />
                  </div>
                </div>
              </form>

              <div class="text-center">
                <a
                  class="text-secondary mb-3"
                  type="button"
                  id="code-trigger"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseEditCode"
                  aria-expanded="false"
                  aria-controls="collapseEditCode"
                >
                  project codeを忘れた場合
                </a>
              </div>

              <div class="collapse" id="collapseEditCode">
                <form action="#" method="post">
                  <div class="row mb-3">
                    <label class="col-sm-2 modal-label">project code</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input
                          type="password"
                          class="form-control edit-code"
                          name="projectCode"
                          disabled
                        />
                        <button
                          type="button"
                          class="btn btn-outline-secondary password-toggle"
                          data-bs-toggle="button"
                        >
                          <i class="bi bi-eye"></i>
                        </button>
                      </div>
                      <div class="form-text">
                        更新後は確認することができません。
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button
                      type="submit"
                      id="code-update-btn"
                      class="btn btn-outline-primary"
                    >
                      Project Code を更新する
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="project-update-btn"
                hidden
              >
                更新
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- 
    
    sidebar
    
    -->
      <aside class="sidebar" id="sidebar">
        <div
          class="alert alert-info alert-dismissible fade show sidebar-alert"
          role="alert"
        >
          <div>プロジェクトを更新しました。</div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <div class="container-fluid">
          <ul class="navbar-nav">
            <!-- 

            project
          
          -->
            <li class="nav-heading d-flex justify-content-between">
              選択中のプロジェクト
              <a
                class="nav-heading"
                type="button"
                id="project-info-btn"
                data-bs-toggle="modal"
                data-bs-target="#modal-project"
                data-project-id="テストid"
                data-name="テスト名前"
                data-description="テスト詳細説明"
                data-first-task="テストタスク"
                data-progress="30"
                data-leader="テスト名前"
                data-created-at="2024-03-21T20:55"
                data-updated-at="2024-10-21T12:20"
              >
                <i class="bi bi-info-circle"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link dropdown-toggle align-items-center d-inline-block"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Selected project
              </a>
              <ul class="dropdown-menu">
                <li>
                  <form action="#" method="post">
                    <input class="dropdown-item" type="submit" value="logout" />
                  </form>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="d-flex align-items-center">
                <a href="#" class="btn btn-outline-primary btn-add"> new </a>
              </div>
            </li>
            <li class="nav-item">
              <hr />
            </li>

            <!-- 

            taskList

          -->
            <li class="nav-heading d-flex justify-content-between">
              list
              <a
                class="nav-heading"
                data-bs-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <i class="bi bi-chevron-down"></i>
              </a>
            </li>
            <div class="collapse show" id="collapseExample">
              <li class="nav-item">
                <a class="nav-link" href="#task1">task1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#task2">task2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#task3">task3</a>
              </li>
            </div>
          </ul>
        </div>
      </aside>
    </div>
    <!-- End Sidebar-->

    <!-- 
      
    main
    
    -->
    <main class="" id="main">
      <div class="container-fluid p-3">
        <div class="fs-3 my-4 text-secondary text-center">
          新規プロジェクト画面
        </div>
        <div class="d-flex justify-content-center">
          <div
            class="btn-group mb-3 text-center"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              checked
            />
            <label class="btn btn-outline-primary" for="btnradio1">新規</label>

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
            />
            <label class="btn btn-outline-success" for="btnradio2">参加</label>
          </div>
        </div>

        <div class="container-fluid" id="create-project-form">
          <form action="#" method="post" th:object="${createProjectForm}">
            <div class="row mb-3">
              <label for="create-project-id" class="col-sm-2 modal-label"
                >project ID</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-project-id"
                  th:field="*{projectId}"
                  placeholder="半角英数字 + (. - _)"
                  required
                  pattern="[A-Za-z0-9.-_]+"
                  maxlength="50"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-project-code" class="col-sm-2 modal-label"
                >project code</label
              >
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control edit-code"
                    id="create-project-code"
                    th:field="*{projectCode}"
                    placeholder="半角英数字 + (. - _)"
                    required
                    pattern="[A-Za-z0-9.-_]+"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary password-toggle"
                    data-bs-toggle="button"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <div class="form-text">更新後は確認することができません。</div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-project-name" class="col-sm-2 modal-label"
                >project name</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-project-name"
                  th:field="*{projectName}"
                  required
                  maxlength="20"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label
                for="create-project-description"
                class="col-sm-2 modal-label"
                >project description</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="create-project-description"
                  th:field="*{projectDescription}"
                  rows="3"
                  maxlength="300"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-handle" class="col-sm-2 modal-label"
                >handle</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-handle"
                  th:field="*{handle}"
                  placeholder="最大４文字"
                  required
                  maxlength="4"
                />
                <div class="form-text">
                  プロジェクト内で一意に定まる自身のハンドルネームを設定します。
                  例：田中太、田中.t、t.太郎
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-first-task" class="col-sm-2 modal-label"
                >first task</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-first-task"
                  th:field="*{firstTask}"
                  required
                  maxlength="50"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-task-description" class="col-sm-2 modal-label"
                >task description</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="create-task-description"
                  th:field="*{firstTaskDescription}"
                  rows="3"
                  maxlength="300"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="new-deadline" class="col-sm-2 modal-label"
                >締切</label
              >
              <div class="col-sm-10">
                <input
                  type="datetime-local"
                  class="form-control"
                  id="new-deadline"
                  th:field="*{deadline}"
                />
              </div>
            </div>
            <div class="d-flex justify-content-center my-5">
              <button
                type="submit"
                id="create-project-submit"
                class="btn btn-outline-primary"
              >
                プロジェクトを作成する
              </button>
            </div>
          </form>
        </div>

        <div class="container-fluid" id="join-project-form">
          <form action="#" method="post" th:object="${joinProjectForm}">
            <div class="row mb-3">
              <label for="join-project-id" class="col-sm-2 modal-label"
                >project ID</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="join-project-id"
                  th:field="*{projectId}"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="join-project-code" class="col-sm-2 modal-label"
                >project code</label
              >
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control edit-code"
                    id="join-project-code"
                    th:field="*{projectCode}"
                    required
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary password-toggle"
                    data-bs-toggle="button"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="join-handle" class="col-sm-2 modal-label"
                >handle</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="join-handle"
                  th:field="*{handle}"
                  placeholder="最大４文字"
                  required
                  maxlength="4"
                />
                <div class="form-text">
                  プロジェクト内で一意に定まる自身のハンドルネームを設定します。
                  例：田中太、田中.t、t.太郎
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center my-5">
              <button
                type="submit"
                id="join-project-submit"
                class="btn btn-outline-success"
              >
                プロジェクトに参加する
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <script src="../static/main.js"></script>
  </body>
</html>
