<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div class="container-lg min-vh-100">
		<div class="row justify-content-center align-items-center min-vh-100">
			<div class="col">
				<h2 class="text-center">新規登録</h2>
				<div class="row justify-content-center">
					<div class="col-6 col-md-5">
						<div th:replace="~{common/alert :: alert}"></div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-5 col-md-4">
						<form th:action="@{/signup}" method="post" th:object="${signupForm}">
							<div class="form-group">
								<div class="mb-3">
									<label for="userId">userID</label>
									<input class="form-control" pattern="^[a-zA-z0-9._-]+$" type="text" th:field="*{userId}" required>
									<div class="form-text">半角英数字</div>
									<span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
								</div>
								<div class="mb-3">
									<label for="username">username</label>
									<input class="form-control" type="text" th:field="*{username}" required>
									<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								</div>
								<div class="mb-3">
									<label for="password">password</label>
									<input class="form-control" type="password" th:field="*{password}" required>
									<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
								<p class="text-center">
									<button class="btn btn-primary" type="submit">登録</button>
								</p>
							</div>
						</form>
					</div>
				</div>
				<a class="d-block text-center" th:href="@{/login}">ログイン画面に戻る</a>
			</div>
		</div>
	</div>
</body>

</html>