<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TaskFlow</title>
  </head>

  <body class="toggle-sidebar">
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:insert="~{common/sidebar :: sidebar}"></div>
    <!-- 
	
	main
	
	-->
    <main class="" id="main">
      <div class="container-fluid p-3">
        <div class="fs-3 my-4 text-secondary text-center">
          プロジェクト接続画面
        </div>
        <div th:replace="~{common/alert :: alert}"></div>

        <div class="container-fluid" th:if="${connect == 'new'}">
          <form th:action="@{/project}" method="post">
            <div class="row mb-3">
              <label for="create-project-id" class="col-sm-2 modal-label"
                >project ID</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-project-id"
                  name="newProjectId"
                  th:value="${newProjectId}"
                  placeholder="半角英数字 + (. - _)"
                  required
                  pattern="[A-Za-z0-9.-_]+"
                  maxlength="50"
                  th:classappend="${alert?.name() == 'EXISTED_PROJECT_ID' ? 'is-invalid' : ''}"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-project-code" class="col-sm-2 modal-label"
                >project code</label
              >
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control edit-code"
                    id="create-project-code"
                    name="projectCode"
                    placeholder="半角英数字 + (. - _)"
                    required
                    pattern="[A-Za-z0-9.-_]+"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary password-toggle"
                    data-bs-toggle="button"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <div class="form-text">更新後は確認することができません。</div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="create-project-name" class="col-sm-2 modal-label"
                >project name</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="create-project-name"
                  name="name"
                  th:value="${name}"
                  required
                  maxlength="20"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label
                for="create-project-description"
                class="col-sm-2 modal-label"
                >project description</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="create-project-description"
                  name="description"
                  th:value="${description}"
                  rows="3"
                  maxlength="300"
                ></textarea>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-2 modal-label">first task</div>
              <div class="col-sm-10">
                <input type="text" name="nowProjectId" th:value="${nowProjectInfo.projectId}" hidden>
                <input type="text" name="taskId" th:value="${taskId}" hidden />
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  th:value="${title}"
                  disabled
                />
              </div>
            </div>
            
            <div class="d-flex justify-content-center my-5">
              <button
                type="submit"
                id="create-project-submit"
                class="btn btn-outline-primary"
                name="connectNew"
              >
                プロジェクトを作成する
              </button>
            </div>
          </form>
        </div>

        <div class="container-fluid" th:if="${connect == 'old'}">
          <form th:action="@{/project}" method="post">
            <div class="row mb-3">
              <label for="join-project-id" class="col-sm-2 modal-label"
                >project ID</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="join-project-id"
                  name="projectId"
                  th:value="${projectId}"
                  required
                  th:classappend="${alert?.name() == 'NOT_EXISTED_PROJECT_ID' ? 'is-invalid' : (
                    alert?.name() == 'JOIN_FAILED' ? 'is-invalid' : (
                      alert?.name() == 'EXISTED_HANDLE' ? 'is-valid' : ''
                    )
                  )}"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="join-project-code" class="col-sm-2 modal-label"
                >project code</label
              >
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control edit-code"
                    id="join-project-code"
                    name="projectCode"
                    required
                    th:classappend="${alert?.name() == 'JOIN_FAILED' ? 'is-invalid' : (alert?.name() == 'EXISTED_HANDLE' ? 'is-valid' : '')}"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary password-toggle"
                    data-bs-toggle="button"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-2 modal-label">parent task</div>
              <div class="col-sm-10">
                <input type="text" name="taskId" th:value="${taskId}" hidden />
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  th:value="${title}"
                  disabled
                />
              </div>
            </div>

            <div class="d-flex justify-content-center my-5">
              <button
                type="submit"
                id="join-project-submit"
                class="btn btn-outline-success"
                name="connectOld"
              >
                プロジェクトを繋げる
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <script th:src="@{/main.js}"></script>
  </body>
</html>
